minimum_pre_commit_version: "3.0.0"
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check
        language: system
        pass_filenames: true
        types: [python]
      - id: black
        name: black
        entry: uv run black
        language: system
        pass_filenames: true
        require_serial: true
        types_or: [python, pyi]
      - id: isort
        name: isort
        entry: uv run isort
        language: system
        pass_filenames: true
        types_or: [python, pyi]
